.perfil-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 6px;
}

.side-left{
    position: relative;
    display: flex;
    width: 50vw;
}
.side-left > img{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
}
.side-left > .h5{
    color: white;
    font-weight: bold;
}
.side-left > .h5, img{
    margin: 5px;
}

.side-right > .function{
    color: white;
    float: right;
}
.side-right > .function > i {
   display: block;
   text-shadow: 0.1em 0.1em 0.2em black;
}

.icon-mute, .icon-mute-2{
    margin-top: 30px;
}

.heart-liked{
    color: #ec407a
}
 
