
.contenedor{
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.grid{
   position: absolute;
    height: 100%;
    width: 100%;
}

.perfil{
    float: left;
    width: 100%;
    display: flex;
    position: absolute;
    top: 60vh;
    align-items: center;
}
.perfil > img{
    width: 10%;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 3%;
}
.perfil > .h5{
    font-weight: bold;
    color: white;  
    margin-left: 3%;
    font-size: 15px;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.icon-like{
    position:  absolute;
    color: white;
    right: 0;
    margin-right: 3%;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.icon-mute{
    position:  absolute;
    color: white;
    right: 0;
    margin-top: 8vh;
    margin-right: 3%;
    
    text-shadow: 0.1em 0.1em 0.2em black;
}
.icon-mute-2{
    position:  absolute;
    color: white;
    right: 0;
    margin-top: 8vh;
    margin-right: 6%;
}
