@media screen and (max-width: 812px){
    .contenedor{
        position: absolute;
        display: grid;
        float: none;
        height: 100vh; 
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
    }
	.reproductor {
        position: relative;
		background-color: black;
        overflow-x:hidden;
        overflow-y:hidden;
	}
    .videos {
        height: 92vh;
        overflow-x: auto;
        display: inline-block;
        scroll-snap-type: y mandatory;
    }

    .video-item{
        width: 100vw;
        scroll-snap-align: start;
    }
    
    .menu{
        position: fixed;
        z-index: 4;
        width: 100vw;
        height: 8vh;
        background-color: #ec407a;
        text-align: center;
        bottom: 0;
    }
    .menu > .menu-nav{
        position: relative;
        display: inline-block;
        width: 100%;   
        margin: 0;
        padding: 0;
    }
    em{
        display: block;
        font-size: 10px;
        margin-top: 3%;
       
    }
    a{
        text-decoration: none;
    }
    .fa, em{
        color: white;
    }
    .nav-item{
        margin: 3%;
        display: inline-block;
        padding: 0;
        
    }
    app-player{
        position: relative;
        z-index: 1;
        margin: 0;
        
    }
    .icon-page{
        position: fixed;
        left: 0;
        z-index: 5;
        width: 20%;
        margin-left: 3%;
        margin-top: 3%;
    }
    
}