<!--<router-outlet></router-outlet>-->
<div class="contenedor">
  <div class="reproductor">
    <app-player></app-player>
  </div>
  <div class="menu">
    
      <div class="nav-item">
        <a href="/">
          <i class="fa fa-home fa-lg"> </i>
        </a>
        <em>INICIO</em>
      </div>
      <div class="nav-item">
        <a href="https://queen-cam.com/intranet/">
          <i class="fa fa-user fa-lg"> </i>
        </a>
        <em>INICIA SESION</em>
      </div>
      <div class="nav-item">
        <a href="/">
          <i class="fa fa-video-camera fa-lg"> </i>
        </a>
        <em>MOMENTS</em>
      </div>
      <div class="nav-item">
        <a href="/">
          <i class="fa fa-bars fa-lg"> </i>
        </a>
        <em>MENU</em>
      </div>
      <div class="nav-item">
        <a href="https://queen-cam.com/buscador.php">
          <i class="fa fa-search fa-lg"> </i>
        </a>
        <em>BUSQUEDA</em>
      </div>

    
  </div>
</div>